<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>express</title>
    <link rel="stylesheet" type="text/css" href="<%= dist %>/stylesheets/style.css" />
</head>
<body>
  <h1 class="h1">express</h1>
  <div>欢迎来到express</div>
  <div>111</div>
  <input id="host" value="<%= host %>" />
  <input id="dist" value="<%= dist %>" />
  <div>
      <a href="<%= dist %>/one">
          <img src="<%= dist %>/images/blue_people.jpg">
      </a>
  </div>
  <ul>
      <% data.forEach(function(item){%>
      <li><%=item.measurename %></li>
      <% }) %>
  </ul>
</body>
</html>
